:root {
  scroll-behavior: smooth;
  --toastify-font-family: 'Almarai',sans-serif;
}

body {
  font-family: 'Almarai',sans-serif;
}

*,*::before,*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion-button::after {
  margin-inline-start: auto;
  margin-inline-end: 0;
}

